
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #8e44ad;
$color-orange: rgb(242, 121, 53);
$color-orange-dark: #894100;
$color-blue: #2980b9;

$color-primary-light: #9b59b6;
$color-primary-dark: #693d87;

$color-green-normal: #6cbb23;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-light-5: #ababab;

$color-grey-dark-1: #34495e;
$color-grey-dark-2: #5b7388;
$color-grey-dark-3: #87b2c9;

$color-warningText: #e56171;

$shadow-dark: 0 2rem 3rem rgba(0,0,0, .4);
$shadow-light: 0 2rem 3rem rgba(0,0,0,.2);

$border-light: 1px solid $color-grey-light-2;





$bp-desktopLarge: 112.5em; //1800px
$bp-largest: 75em;  //1200 px
$bp-large: 68.75em;  //1100 px
$bp-medium: 56.25em;  //900 px
$bp-small: 37.5em;  //600 px
$bp-smallest: 31.25em;  //500 px
$bp-micro: 26.875em;  //430 px