{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container justify-content-center h-100 align-items-center">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-sm-6 col-md-4 ">
                {{ include('@FOSUser/Security/login_content.html.twig') }}

            </div>
        </div>
    </div>
{% endblock fos_user_content %}
