{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h1 class="text-center login-title">Before starting Your way to Success - Login! </h1>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
