{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}


{% block body %}
    <div class="landingPage__text-box">
            <h1 class="mainHeading">Behind Every <span class="sp-1">Success</span><br>There is a <span class="sp-2">Cactus</span></h1>
            <div class="cta">
                <h2 class="cta__book-now">
                    Meet your challenges now!
                </h2>
                <a href="{{ path('my_challenges') }}">
                    <button class="btn">
                        <span class="btn__visible">Getting Started</span>
                        <span class="btn__invisible">New challenge</span>
                    </button>
                </a>
            </div>
        </div>
{% endblock %}
