{% extends 'base.html.twig' %}

{% block body %}

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-md-4 ">
                    {% block fos_user_content %}{% endblock %}
                </div>
            </div>
        </div>

{% endblock %}