<div class="challengeCompleted">
    <div class="milestone-statusProgress ml-0" >
        <span >{{ challenge.completedOn|date('Y-m-d') }}</span>
        <span class="milestone-statusLabel">Challenge completed on</span>

    </div>
    <div class="milestone-statusProgress" >
        <span >{{ completedMilestones }} / {{ milestonesCount }}</span>
        <span class="milestone-statusLabel">Milestones accomplished</span>
    </div>
</div>