<div class="user-nav__icon-box">
    <svg class="user-nav__icon">
        <use xlink:href="{{ asset('images/sprite.svg#icon-bookmark') }}"></use>
    </svg>
    <span class="user-nav__notification">{{ notifications|length }}</span>
</div>
