<div class="user-nav__icon-box">
    <i>
        <svg class="user-nav__icon">
            <use xlink:href="{{ asset('images/sprite.svg#icon-bookmark') }}"></use>
        </svg>
        {% if notifications|length > 0 %}
            <span class="user-nav__notification">{{ notifications|length }}</span>
        {% endif %}
    </i>
    <a class="linkAbsolute" href="{{ path('notifications') }}"></a>
</div>
