
{{ form_start(form, {'action': path('search_query_info'), 'method': 'GET', 'attr': {class: 'search'} }) }}
{{ form_widget(form) }}
    <button class="search__button" type="submit" name="searchForm[Submit]">
        <svg class="search__icon">
            <use xlink:href="{{ asset('images/sprite.svg#icon-magnifying-glass') }}"></use>
        </svg>
    </button>
{{ form_end(form) }}

