{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block content %}

    <div class="myChallenge-wrapper search-wrapper" id="search-list">
        {% if (challenges|length == 0) and (publicChallenges|length == 0)  %}
            <div class="noChallenges">
                <h1 class="mainHeading">No results found.<span class="sp-3"><br>Try other keywords</span></h1>
            </div>
            {% else %}
            <div class="filterContainer">
                <div class="sort-label2">Sort by:</div>
                <div>
                    <button class="sort" data-sort="js-type">type</button>
                    <button class="sort" data-sort="js-dateStart">start date</button>
                    <button class="sort" data-sort="js-dateEnd">end date</button>
                </div>
            </div>
        {% endif %}
        <div class="cards-wrapper list">

            {% for challenge in challenges %}
                {% include 'includes/searchCardContent.html.twig' %}
            {% endfor %}



            {% for challenge in publicChallenges %}
                {% include 'includes/searchCardContent.html.twig' %}

            {% endfor %}
        </div>
        {% if (challenges|length == 0) and (publicChallenges|length == 0)  %}
        {% else %}
            <ul class="pagination"></ul>
        {% endif %}

    </div>
{% endblock %}
