{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block content %}

    <div class="myChallenge-wrapper search-wrapper" id="search-list">
        <div class="filterContainer">
            <div class="sort-label2">Sort by:</div>
            <div>
                <button class="sort" data-sort="js-type">type</button>
                <button class="sort" data-sort="js-dateStart">start date</button>
                <button class="sort" data-sort="js-dateEnd">end date</button>
            </div>
        </div>
        <div class="cards-wrapper list">

            {% for challenge in challenges %}
                {% include 'includes/searchCardContent.html.twig' %}
            {% endfor %}



            {% for challenge in publicChallenges %}
                {% include 'includes/searchCardContent.html.twig' %}

            {% endfor %}
        </div>
        <ul class="pagination"></ul>
    </div>
{% endblock %}
