.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: $color-white;
  border-bottom: var(--border-light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  @media only screen and (max-width: $bp-largest) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-between;
    padding-top: 1.5rem;

  }

}

.header-fluid {
  padding-bottom: 7em;
  z-index: -1;

  @media only screen and (max-width: $bp-largest) {
    padding-bottom: 11rem;
  }
}

.logoImg {
  height: 3.25rem;
  margin-left: 2rem;
}

