.search-wrapper {

  .cards-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    .customCard {
      max-width: 56.25rem;
      width: 30%;



      @media only screen and (max-width: $bp-large) {
        width: 40%;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
      }



      .card-title,
      .card-text {
        max-height: 8rem;
        overflow: auto;
      }

    }

    .list-group-item {
      padding: 1rem 0;
    }

    .card-title {
      font-size: 1.4rem;
    }

    .customCard-subtitle {
      font-size: 1rem;
      margin: 0;
    }

    .challengeControlBlock--noLabels {
      padding-top: 1rem;
      padding-bottom: 1.5rem;
      &:before {
        display: none;

      }

      &:after {
        display: none;
      }
    }
  }
}

