{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }} - challenges list!{% endblock %}

{% block content %}
    <div class="myChallenge-wrapper">
        <div class="cards-wrapper">
            {% for challenge in challenges %}
                <div class="card customCard">

                    {% include 'includes/cardHead.html.twig' %}
                    {{ dump(challenge) }}
                    <ul class="list-group list-group-flush">
                        {% set completedMilestones = 0 %}
                        {% set milestonesCount = 0 %}
                        {% for milestone in challenge.milestones %}
                            {% for milestoneUserStatus in milestone.userStatus %}
                                {% if milestoneUserStatus.isCompleted and not milestoneUserStatus.isDeleted %}
                                    {% set completedMilestones = completedMilestones + 1 %}
                                {% endif %}
                                {% if not milestoneUserStatus.isDeleted %}
                                    {% set milestonesCount = milestonesCount + 1 %}

                                    {% include 'includes/milestoneBlock.html.twig' %}

                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% if milestonesCount == 0 %}
                            <li class="list-group-item d-flex align-items-center">
                                <h5 class="card-subtitle customCard-subtitle text-center">No milestones has been added
                                    yet.</h5>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="card-footer">

                        {% if not challenge.isCompleted %}
                            {% include 'includes/challengeControlButtons.htm.twig' %}
                        {% else %}
                            {% include 'includes/challengeCompleted.html.twig' %}
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

            {% if challenges|length == 0 %}

                <h1 class="mainHeading">Create your first challenge!</h1>
                <div class="cta">

                    <a href="{{ path('new_challenge_form') }}">
                        <button class="btn">
                            <span class="btn__visible">Getting Started</span>
                            <span class="btn__invisible">New challenge</span>
                        </button>
                    </a>
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}