{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }} - challenges list!{% endblock %}

{% block content %}
    <div class="myChallenge-wrapper" id="challenge-list">
        {% if challenges|length > 2 %}
            <div class="filterContainer">
                <div class="sort-label2">Sort by:</div>
                <div>
                    {#<div class="sort-label">Sort by</div>#}
                    <button class="sort" data-sort="js-type">type</button>
                    <button class="sort" data-sort="js-dateStart">start date</button>
                    <button class="sort" data-sort="js-dateEnd">end date</button>
                </div>
            </div>
        {% endif %}

        <ul class="cards-wrapper list" >

            {% for challenge in challenges %}
                <li class="card customCard">

                    {% include 'includes/cardHead.html.twig' %}
                    <ul class="list-group list-group-flush">
                        {% set completedMilestones = 0 %}
                        {% set milestonesCount = 0 %}
                        {% for milestone in challenge.milestones %}
                            {% for milestoneUserStatus in milestone.userStatus %}
                                {% if milestoneUserStatus.isCompleted and not milestoneUserStatus.isDeleted %}
                                    {% set completedMilestones = completedMilestones + 1 %}
                                {% endif %}

                                {% if not milestoneUserStatus.isDeleted %}
                                    {% set milestonesCount = milestonesCount + 1 %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>

                    <div class="card-footer">

                        {% if not challenge.isCompleted %}
                            {% include 'includes/challengeControlButtons.htm.twig' %}
                        {% else %}
                            {% include 'includes/challengeCompleted.html.twig' %}
                        {% endif %}

                    </div>
                </li>
            {% endfor %}

            {% if challenges|length == 0 %}

                <div class="noChallenges">
                    <h1 class="mainHeading">Create your first challenge!</h1>
                    <div class="cta">

                        <a href="{{ path('new_challenge_form') }}">
                            <button class="btn">
                                <span class="btn__visible">Getting Started</span>
                                <span class="btn__invisible">New challenge</span>
                            </button>
                        </a>
                    </div>
                </div>

            {% endif %}
        </ul>
        {% if challenges|length > 5 %}
            <ul class="pagination"></ul>
        {% endif %}
    </div>
{% endblock %}