////.logoImg {
////  height: 3.25rem;
////  margin-left: 2rem;
////}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
////--------TOPOGRAPHY-------------
//
//
//
//
//
//
////-----------CALL TO ACTION------------
//
//.cta {
//  padding: 3.5rem 0;
//  text-align: center;
//
//  @media only screen and (max-width: $bp-medium){
//    padding: 2.5rem 0;
//  }
//
//  @media only screen and (max-width: $bp-smallest){
//    padding: 2rem 0;
//  }
//
//  &__book-now {
//    font-size: 2rem;
//    text-transform: uppercase;
//    font-weight: 300;
//    margin-bottom: 2.5rem;
//
//    @media only screen and (max-width: $bp-medium) {
//      font-size: 1.8rem;
//    }
//
//    @media only screen and (max-width: $bp-small){
//      font-size: 1.75rem;
//    }
//
//    @media only screen and (max-width: $bp-smallest){
//      font-size: 1.6rem;
//      margin-bottom: 2rem;
//    }
//  }
//}
//








.comments {
  padding-top: 0!important;
  padding-bottom: 2.3rem!important;
}



.w-60 {
  width: 75%!important;
}

.fz-1-1 {
  font-size: 1.1rem!important;
}

























