.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
  margin-bottom: 10px;
}
.form-signin .checkbox
{
  font-weight: normal;
  color: var(--color-grey-light-1);
}
.form-signin .form-control
{
  position: relative;
  font-size: 20px;
  height: auto;
  padding: 10px;

}
.form-signin .form-control:focus
{
  z-index: 2;
}
#username,
#fos_user_registration_form_email
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#fos_user_registration_form_plainPassword_second,
#password
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


#fos_user_registration_form_username,
#fos_user_registration_form_plainPassword_first {
  border-radius: 0;
}

.account-wall
{
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: var(--color-grey-dark-1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

  .btn {
    text-transform: capitalize;
  }

}
.login-title
{
  color: var(--color-primary);
  font-size: 24px;
  font-weight: 400;
  display: block;
}
.profile-img
{
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}
.need-help{

  color: var(--color-grey-light-1);

  &:hover {
    color: var(--color-primary);
  }
}
.new-account
{
  display: block;
  margin-top: 10px;
  color: var(--color-grey-dark-1);

  &:hover {
    color: var(--color-primary);
  }
}