

.newChallenge__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-grey-light-1, .8),
                  rgba($color-grey-light-2, .8)),
  url("../public/images/hero-small.jpg");
  background-size: cover;
  background-position: center;
  position: relative;


  @media (min-resolution: 192dpi) and (min-width: 37.5em),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  (min-width: 125em) {
    background-image: linear-gradient(
                    to right bottom,
                    rgba($color-grey-light-1, .8),
                    rgba($color-grey-light-2, .8)),
    url("../public/images/hero.jpg");
  }

}


.formBlock {
  margin: 0 auto;
  min-width: 35rem;
  width: 40%;
  border-radius: 0.5rem ;
  box-shadow: 0px 2rem 4rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  //background-color: rgba(52,73,94, .9);
  background-color: rgba(255,255,255, .95);


  input[type=text],
  label,
  select,
  textarea
  {
    margin:0;
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
    background:none;
    line-height:1;
    border: 0;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--color-grey-dark-1);

  }

  /* Remove the stupid outer glow in Webkit */
  input[type=text]:focus,
  select:focus,
  textarea:focus

  {
    outline:0;
    border-color: var(--color-green-normal);
  }

  label {
    border: none;
    font-size: 1.2rem;

  }

  select {
    font-size: 1.2rem;
    &:not(:last-of-type) {
      margin-right: 1rem;

    }
  }

  textarea,
  input[type=text] {
    border-bottom: 2px solid var(--color-grey-dark-2);
    width: 100%;

    &::placeholder {
      color: var(--color-grey-light-5);
      font-size: 1.2rem;
    }
  }

  textarea {
    min-height: 8rem;
  }



}

.formHead {
  padding: 2rem 1rem;
  position: relative;

  color: var(--color-grey-dark-1);

  &::after {
    content: "";
    background: url("public/images/cbg.jpeg") center bottom 80% no-repeat;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;


  }

  .formText {
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    z-index: 10;
    position: relative;



  }

  .formTitle {
    font-size: 3.2rem;
    color: var(--color-grey-dark-1);
    letter-spacing: 0.05em;
    z-index: 10;
    position: relative;
  }





}

.formFooter {
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 50%;
  margin: 0 auto;
}


.formBody {
  padding: 1rem;
  //background-color: rgba(52,73,94, .8);
}

.formRow {
  display: flex;
}



.formLabel {
  flex: 0 0 25%;

}


.formControl {
  flex: 0 0 75%;

}


