.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media only screen and (max-width: $bp-largest) {
    order: 1;
    flex: 0 0 100%;
  }

  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: .7rem 2rem;
    border-radius: 10rem;
    width: 100%;
    padding-right: 4.5rem;
    border: 1px solid transparent;
    transition: border 150ms ease-in-out;

    @media only screen and (max-width: $bp-largest) {
      border-radius: 0;
    }

    &:focus {
      outline: none;
      border-color: var(--color-primary);
    }

    &::placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }



  .search__button {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 0 1.5rem 0 1rem;
    border-bottom-right-radius: 10rem;
    border-top-right-radius: 10rem;
    background-color: var(--color-grey-dark-2);
    transition: background-color 150ms ease-in-out;

    &:hover {
      background-color: var(--color-grey-dark-1);

    }


    @media only screen and (max-width: $bp-largest) {
      border-radius: 0;
    }

  }

  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-light-1);
    pointer-events: none;
    transition: fill 150ms ease-in-out ;

  }
}

#form {
  width: 100%;
}