{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <div class="myChallenge-wrapper challengeDetails">
        <div class="cards-wrapper">
            <div class="card customCard">
                {% include 'includes/cardHead.html.twig' %}
                {{ dump(publicMilestones) }}
                {{ dump(privateMilestones) }}
                {% set completedMilestones = 0 %}
                {% set milestonesCount = 0 %}
                <ul class="list-group list-group-flush">
                    {% for milestone in publicMilestones %}
                        {#{% for milestone in challenge.milestones %}#}
                        {% for milestoneUserStatus in milestone.userStatus %}
                            {{ dump(milestoneUserStatus) }}
                            {% if milestoneUserStatus.user == app.user %}
                                {% if milestoneUserStatus.isCompleted and not milestoneUserStatus.isDeleted %}
                                    {% set completedMilestones = completedMilestones + 1 %}
                                {% endif %}

                                {% if not milestoneUserStatus.isDeleted %}
                                    {% set milestonesCount = milestonesCount + 1 %}
                                    {% include 'includes/milestoneBlock.html.twig' %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    {% for milestone in privateMilestones %}
                    {#{% for milestone in challenge.milestones %}#}
                        {% for milestoneUserStatus in milestone.userStatus %}

                            {% if milestoneUserStatus.isCompleted and not milestoneUserStatus.isDeleted %}
                                {% set completedMilestones = completedMilestones + 1 %}
                            {% endif %}

                            {% if not milestoneUserStatus.isDeleted %}
                                {% set milestonesCount = milestonesCount + 1 %}
                                {% include 'includes/milestoneBlock.html.twig' %}
                            {% endif %}

                        {% endfor %}
                    {% endfor %}

                    {% if milestonesCount == 0 %}
                        <li class="list-group-item d-flex align-items-center">
                            <h5 class="card-subtitle customCard-subtitle text-center">No milestones has been added
                                yet.</h5>
                        </li>
                    {% endif %}
                </ul>
                <div class="card-footer">

                    {% if not challenge.isCompleted %}
                        {% include 'includes/challengeControlButtons.htm.twig' %}

                    {% else %}
                        {% include 'includes/challengeCompleted.html.twig' %}

                    {% endif %}

                </div>
                {% include 'challenge_details/comments.html.twig' %}
            </div>

        </div>
    </div>

{% endblock %}