{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <div class="myChallenge-wrapper challengeDetails">
        <div class="cards-wrapper">
            <div class="card customCard">
                {% include 'includes/cardHead.html.twig' %}

                {% set completedMilestones = 0 %}
                {% set milestonesCount = 0 %}
                <ul class="list-group list-group-flush">
                    {% for milestone in milestones %}

                        {% if milestone.isPublic %}
                            {% set milestoneUserStatusExist = 0 %}

                            {% for userStatus in milestone.userStatus %}
                                {% if userStatus.user == app.user %}
                                    {% set milestoneUserStatusExist = 1 %}
                                {% endif %}
                            {% endfor %}

                            {% if milestoneUserStatusExist == 0 %}
                                {% include 'includes/publicMilestoneBlock.html.twig' %}
                            {% endif %}
                        {% endif %}

                        {% for milestoneUserStatus in milestone.userStatus %}

                                {% if milestoneUserStatus.isCompleted and
                                    not milestoneUserStatus.isDeleted and
                                    milestoneUserStatus.user == app.user
                                %}
                                    {% set completedMilestones = completedMilestones + 1 %}
                                {% endif %}

                                {% if not milestoneUserStatus.isDeleted and
                                    milestoneUserStatus.user == app.user
                                %}
                                    {% set milestonesCount = milestonesCount + 1 %}
                                    {% include 'includes/milestoneBlock.html.twig' %}
                                {% endif %}


                        {% endfor %}
                    {% endfor %}

                    {% if milestonesCount == 0 %}
                        <li class="list-group-item d-flex align-items-center">
                            <h5 class="card-subtitle customCard-subtitle text-center">No milestones has been added
                                yet.</h5>
                        </li>
                    {% endif %}
                </ul>
                <div class="card-footer">

                    {% if not challenge.isCompleted %}
                        {% include 'includes/challengeControlButtons.htm.twig' %}
                    {% else %}
                        {% include 'includes/challengeCompleted.html.twig' %}
                    {% endif %}

                </div>
                {% include 'challenge_details/comments.html.twig' %}
            </div>

        </div>
    </div>

{% endblock %}