{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.username }} - start new challenge!{% endblock %}

{% block content %}

    <div class="myChallenge-wrapper">
        <div class="formBlock">
            <div class="formHead">
                <h1 class="formTitle text-left">Start Challenge</h1>
                <p class="formText mb-0">If you can dream it, you can do it!</p>
            </div>
            {{ form_start(form, {'method': 'post', 'action': path('my_challenges'), 'attr': {'class': 'new_challenge_form'}}) }}

            {% include 'includes/formBody.html.twig' %}

            <div class="formFooter ">
                <input class="btn" type="submit" id="_submit" name="_submit"
                       value="{{ 'Start' }}"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



